@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@1,100&display=swap');
:root {
  --primary-color: #004e64   ;
  --secondary-color: #00a5cf ;
  --accent1-color: #9fffcb;
  --accent2-color: white;
  --heading-font: "Playfair",serif;
  --paragraph-font: "Lato",serif;
  
  --nav-background-color: #9fffcb;
  --nav-link-color:#004e64;
  --nav-hover-link-color: #5FFFA8;
  --nav-hover-background-color:#9fffcb;
  
  body {
    font-size: 18px
    max-width: 960px;
    padding: 20px;
  }
  h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
 }
  
  header {
    padding: 20px;
    backround-color: var(--accentcolor1-color);
  }
  p {
    padding:25px;
  }
  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
  
  
  
    
  
